body {
	background-color: salmon;
}

h1 {
	text-align: center;
	font-family: sans-serif, serif;
	font-size: 40px;
	color: lemonchiffon;
}
p, li{
	font-family:helvetica, sans-serif;
	font-size:17px;
}
	